.blog_icons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-Left: 1rem;
    justify-content: space-between;
    // text-align: center;
    margin-right: 0.6rem;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.twitter_icons{
    // display: flex;
    // flex-direction: row;
    // margin-top: 1rem;
    margin-Left: 1rem;
    // justify-content: space-between;
    // text-align: center;
    // margin-right: 0.6rem;
    height: 3vh;
    width: 1vw;
    // border-radius: 15px;
}