#price {
    margin-left: 0.5rem;
}

.drag_btn {
    background-color: black;
    width: 90px;
    height: 90px;
    flex-shrink: 0px;
    border-radius: 103px;
}

.drag_txt {
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-family: Nohemi;
}

.carousel-sizing {
    width: 360px;
    height: 380px;
}
.men-carousel-sizing {
    width: 360px;
    height: 360px;
}