.checkout {
    font-size: 40px;
}

.checkout_hr {
    background-color: #B5B5B5;
    height: 1px;
}

.max_cushioning {
    font-size: 10px;
    font-weight: 500;
    font-family: Aeonik;
}

.contact_info {
    font-weight: bold;
    font-size: 14px;
    margin-left: 2rem;
}

.login_text {
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 0.7rem;
    margin-right: 2rem;
}

.checkout_inputs {
    border: 1px solid #bbbbbb;
    border-radius: 0.2rem;
    color: "#bbbbbb"
}

.checkout_images {
    width: 12rem;
    height: 7rem;
}

.checkout_images1 {
    width: 12rem;
    height: 7rem;
}

.checkout_main_div {
    background-color: #F5F5F5;
    // padding: 2rem;
    display: flex;
    flex-direction: row;
}

.checkout_images_div {
    background-color: white;
    width: 29rem;
    padding: 1rem;
}

.shipping_details {
    margin: 0;
    margin-top: 0.2rem;
}

.checkout_text {
    margin-top: 1.5rem;
    font-family: Aeonik;
    font-size: 15px;
}

.bag_icon {
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
}

.btn_txt {
    margin-bottom: 3rem;
    margin-top: 3rem;
    height: 3rem;
    width: 11rem;
    border: none;
    border-radius: 0.2rem;
    color: #000000;
    background-color: #F3DF77;
    align-self: center;
    font-weight: bold;
}

.checkout_main_div {
    text-align: center;
    margin-top: 3rem;
    margin: 0 auto;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.first-img {
    margin-top: 4rem;
    height: 2rem;
    width: 20rem;
    align-self: center;
}

.second-img {
    height: 70px;
    width: 70px;
    align-self: center;
    margin-top: 4rem;
}

.checkoutEmpty_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.error_txt {
    font-size: 14px;
    margin-top: 2rem;
}

.page_not_found {
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    margin-top: 3rem;
}

.btn {
    width: 10rem;
    height: 2.5rem;
    background-color: #F3DF77;
    margin-top: 2rem;
    border: none;
    border-radius: 0.2rem;
    margin-bottom: 8rem;
}