.orderTypes_div {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.profile-order-list-right-sidebar {
    background-color: white;
    padding: 3rem;
    margin-top: 4rem;
    align-items: center;
}

.ProfileInfoCardSection1 {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.ProfileInfoCardSection {
    display: flex;
    flex-direction: row;
}

.txts_div {
    margin-top: 1rem;
    margin-left: 1rem;
}

.txts_div1 {
    display: flex;
    flex-direction: row;
}

.no_items_price {
    font-weight: bold;
}

.profile_hr {
    height: 1px;
    width: 90%;
    background-color: #b1acb8;
}

.info_div {
    display: flex;
    flex-direction: row;
}

.info_hr {
    height: 1.8px;
    background-color: #f2f4f5;
    margin-top: 7rem;
}

.orderTypes {
    margin-left: 2rem;
    color: #b1acb8;
}

.profile_info_input {
    width: 12rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    border: 1.7px #E5E9ED solid;
}

.profile_change_password_input,
.profile_info_email_input {
    width: 26.5rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    border: 1.7px #E5E9ED solid;
    font-weight: 400;
    font-size: 14px;
    color: #141415;

}

.info_main_div {
    background-color: #F5F5F5;
    padding: 3rem;
}

.profile_text {
    font-weight: 700;
    font-size: 18.5px;
    font-family: Montserrat;
}

.favorites {
    margin-top: 2rem;
}

.logout_btn {
    color: #FF3820;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.logout_arrow_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.faArrow_icon {
    color: #FF3820;
    margin-top: 0.3rem;
    font-size: 14px;
    cursor: pointer;
}

.name_div {
    display: flex;
    flex-direction: row;
}

.label_input_div {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.info_label {
    color: #141415;
    font-size: 14;
    font-weight: 600;
}

.saveChanges_btn {
    font-size: 15px;
    background-color: #F3DF77;
    margin-top: 3rem;
    width: 8rem;
    height: 2.7rem;
    margin-left: 2rem;
    border: 1.5px solid #E5E9ED;
    border-radius: 0.3rem;
}

.changepassword_btn {
    font-size: 14px;
    background-color: #F3DF77;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 2.7rem;
    margin-left: 2rem;
    border-radius: 0.3rem;
    border: 1.5px solid #E5E9ED;
}

.characters {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.faCheck {
    font-size: 10px;
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 1rem;
    color: #34A853;
}

.faXmark {
    color: #EB4335;
    font-size: 10px;
    margin-top: 0.8rem;
    margin-right: 1rem;
}

.character_divs {
    display: flex;
    flex-direction: row;
}

.other_characters {
    margin-right: 0.3rem;
    font-size: 10px;
    color: #666666;
}

.rightSideBar_div {
    background-color: whitesmoke;
}

.my_fav_div {
    background-color: white;
    margin-top: 4rem;
    height: 35rem;
}

.my_fav_div2 {
    padding-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 0;
}

.my_fav_txt {
    font-weight: 600;
    font-size: 22px;
}

.cardSection_div {
    width: 100%;
    height: 25%;
}

.profile_fav_imgs {
    width: 100%;
    height: 300px;
}

.fav_image2,
.fav_image3 {
    width: 15rem;
    height: 15rem;
}

.fav_texts_div {
    background-color: #F9F8F5;
    margin-top: -15px;
    height: auto;
}

.ltd_edt_txt {
    color: #995C00;
    font-size: 11px;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
}

.cloud_txt {
    font-weight: 700;
    font-size: 15px;
    margin-left: 0.5rem;
}

.max_txt {
    font-weight: 400;
    font-size: 10px;
    margin-left: 0.5rem;
}

.price_profile {
    font-weight: 700;
    font-size: 15px;
    padding-left: 0.5rem;
}

.Italy_txt {
    margin: 0;
    font-size: 9px;
    border: 1px solid black;
    width: 4rem;
    border-radius: 3rem;
    margin-left: 7rem;
    text-align: center;
}

.carousel-sizing {
    width: 400px;
    height: 380px;
}

.date {
    font-size: 11px;
    font-family: Nohemi;
    color: #b1acb8;
}

.no_items {
    background-color: #F3DF77;
    border-radius: 2rem;
    border: none;
    width: 4rem;
    height: 1.5rem;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.p_hr {
    height: 1px;
    background-color: #b1acb8;
}

.p_hrx {
    height: 1px;
    background-color: red;
}

.profileCardSection {
    margin-top: 4rem;
    background-color: white;
}

.confirm-order-price {
    font-size: 16px;
    font-family: Nohemi;
    font-weight: bold;
    margin-left: 1rem;
}

.confirm_order_txt {
    font-size: 11px;
    font-weight: 700;
    font-family: Nohemi;
    margin: 0;
    color: #b1acb8;
}

.items_text {
    background-color: #F3DF77;
    border-radius: 2rem;
    border: none;
    width: 4rem;
    height: 1.5rem;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1rem;
    text-align: center;
    margin-top: 1.4rem;
}

.order-number {
    font-weight: bold;
    font-size: 20px;
}

.my_shoe-carousel-title {
    margin-top: 0rem;
    width: 653px;
    height: 100px;
    left: 80px;
    top: 1047px;
    font-family: 'Nohemi';
    font-style: normal;
    font-weight: bolder;
    font-size: 96px;
    line-height: 100px;
}

#price {
    margin-left: 0.5rem;
}

.profile_cloudmonster_text {
    font-weight: bold;
    font-size: large;
    font-family: Nohemi;
    margin: 0;
}

.size {
    font-family: Nohemi;
    font-size: 10px;
    flex-wrap: nowrap;
    display: flex;
}

.right-side-main-div {
    padding: 1rem 2rem 4rem 2rem;
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cushioning_txt {
    font-family: Nohemi;
    font-size: 8px;
    flex-wrap: nowrap;
    display: flex;
    margin: 0;
    margin-top: 0.3rem;
}

.order_div {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.order-price {
    margin-left: 3rem;
    font-weight: bold;
}

.order-prices-no {
    margin-top: 1rem;
}

.order_text {
    font-weight: bold;
}

.right_texts {
    display: flex;
    flex-direction: column;
}

.both_components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1rem;
}

.bag_img {
    height: 50px;
    width: 48px;
    margin-top: 1.3rem;
}

@media screen and (min-width: 992px) {
    .out_of_stock {
        width: 7rem;
    }

    .save {
        width: 7rem;
    }

    .add-fav-button {
        width: 12rem
    }

    .view-size {
        font-size: 11px;
    }
}

@media screen and (max-width: 992px) {
    .out_of_stock {
        width: 7rem;
    }

    .save {
        width: 7rem;
    }

    .add-fav-button {
        width: 12rem
    }

    .view-size {
        font-size: 8px;
    }
}

.card-sections-content {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.money-txt {
    align-items: center;
    width: auto;
    font: Montserrat;
    font-weight: bolder;
    font-size: 42px;
}