.main-contact-div {
    margin-top: 0;
}

.logo_div {
    margin-left: 2rem;
}

.side_content {
    background-color: #F5F5F5;
}

.contact_text {
    font-family: Nohemi;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2rem;
}

.account_p {
    font-family: arial;
    font-size: 10px;
    text-decoration: underline;
}

.login_text {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0;
    text-decoration: underline;
    margin-top: 0;
}

.create_button {
    border-radius: 0.3rem;
    color: #F3DF77;
    background-color: black;
    height: 35px;
    width: 290px;
    font-size: 11px;
    margin-top: 1.5rem;
}

.label-divs {
    margin-top: 1.7rem;
}

.contact_labels {
    font-size: 14px;
    font-weight: 400;
}

.contact_inputs {
    width: 280px;
    height: 28px;
    border: 1px solid black;
    border-radius: 3px;
}

.google_button {
    background-color: white;
    width: 290px;
    height: 35px;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.p-or {
    margin-top: 0.2rem;
    font-size: 14px;
}

.hr-div {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
}

.hr {
    margin-top: 0.8rem;
    background-color: #000000;
    height: 0.5px;
    width: 8.5rem;
}

.google-image {
    height: 20px;
    width: 20px;
}

.forgot_password_image {
    height: 550px;
}

.reset_password_image {
    height: 550px;
}

.required {
    color: red;
}

.signin_main_div {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
}

.forgot_password_text {
    text-decoration: underline;
    margin-left: 6rem;
    margin-bottom: 0.2rem;
}

.password_label-div {
    display: flex;
    flex-direction: row;
}

.forgotPassword_sneaker_text {
    background-color: #F3DF77;
    text-align: center;
    border-radius: 32.8046px;
    width: 120px;
    height: 30px;
    margin-top: 2rem;
    font-size: 14px;
}

.reset_text {
    font-family: Nohemi;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2rem;
}

.resetpassword_text {
    font-family: Nohemi;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 1rem;
}